.button {
	padding: 10px 30px;
	margin: 0 20px 20px 0;
	border-radius: 5px;
	border: 1px solid #eaeaea;
	background-color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	font-size: small;
	text-align: center;
}

.button:hover {
	background-color: lightgray;
}
